{% extends "ProyectoWebApp/base.html" %}
 {% load static %}
  {% block content %} 
  <div
  style="background-color: #d1d0d7; max-width: 100%;">
  <a href="/tienda/" class="fa fa-arrow-left"
    style="margin-left: 17%; margin-top: 0%; font-size: 35px; text-decoration: none;"></a>
  <div class="container" style="margin: 0 auto; margin-top: -1.93%; ">
    <div class="row">
      <div class="col-md-7 search">
        <form method="get">
          <div id="custom-search-input">
            <div class="input-group col-md-7">
              <input type="text" class="form-control" placeholder="Buscar" name="buscar"
                style="border-radius: 20px; color: rgb(255, 165, 0); background-color: #605e5e;">
              <span class="input-group-list">
                <button type="submit" class="btn " style="border-radius:  20px;
               color: rgb(0, 0, 0); background-color: rgb(255, 165, 0); ">Buscar</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h2 style="text-align: center; margin:5% auto;font-family: Consistency;color:#605e5e ">Los mejores
    accesorios para tu Smartphone</h2>
  <div class="footer-divider" style=" width: 75%; margin: 0 auto;"></div>
  <div class="row" style="padding: 5% 10%;"> {% for accesorio in accesorios %} <div class="col-md-3">
      <div class="card" style="width: 80%; border-radius: 20px; align-items: center; margin: 0 auto; 
  margin-top: 15%; margin-bottom: 20%; height: 500px;">
        <img src="{{accesorio.imagen.url}}" class="img-fluid"
          style="border-radius: 20px;height: 300px; width: 100%;  margin: 0 auto;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align: center;">{{accesorio.nombre|truncatechars:30}}</h5>
          <p class="card-text">{{accesorio.precio}}&nbsp;€</p>
        </div>
        <a href="{{ accesorio.url }}" class="btn " target="__blank" style="text-align: center;   border-radius: 20px; color: #4e4d4d;
       background-color: rgb(255, 165, 0); margin-bottom: 5%;">
            <i class="fa fa-amazon"></i> Ver oferta </a>
        </div>
      </div>
    {% endfor %} 
    </div> 
    {% endblock %}
    </div>
  </div>
</div>