.menu {
  position: relative;
}

#opciones-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  color: white;
  text-decoration: none;
}

#opciones-menu ul a {
  text-decoration: none;
}

.menu ul a:hover {
  scale: 1.1;
}

.ul a:hover {
  scale: 1.1;
  background-color: brown;
}