{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %} <div class="col-md-7"
    style="margin: 0 auto; padding-top: 5%;">
    <h2>Política de privacidad</h2>
    <p style="color: rgb(35, 39, 39); margin-bottom: 6%;">
    <p> Aviso legal: Este aviso legal establece las condiciones de uso de nuestro sitio web y
        regula la relación entre el usuario y nosotros. Información del sitio web. El sitio web es
        propiedad de Aspect Phone. Todo el contenido de este sitio web, incluyendo, entre otros, el
        diseño, los gráficos, los logotipos, los nombres comerciales, las imágenes, los textos, los códigos fuente, los
        programas y los vídeos, son propiedad exclusiva de Aspect Phone o de sus respectivos propietarios.
        Queda prohibido el uso o la reproducción, total o parcial, de cualquier contenido del sitio web sin autorización
        previa y por escrito de Aspect Phone. Responsabilidad El uso del sitio web es bajo la responsabilidad
        exclusiva del usuario. Aspect Phone no se hace responsable de cualquier daño o perjuicio directo o
        indirecto que pueda derivarse del uso del sitio web, incluyendo, entre otros, los daños causados por virus
        informáticos o cualquier otro elemento dañino y enlaces externos. El sitio web puede contener enlaces a sitios web
        de terceros que no están bajo el control de Aspect Phone. No se hace responsable del contenido o de
        cualquier otro aspecto de estos sitios web. Modificaciones del sitio web y del aviso legal Aspect Phone se reserva el derecho de modificar en cualquier momento y sin previo aviso el contenido del sitio web y
        de este aviso legal.<br>
        © Aspect Phone </p>
</div> {% endblock %}