<!DOCTYPE html>
<html lang="en">

  <head> {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'ProyectoWebApp/css/main.09e62786.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <div>
          <h2 class=" text-left text-white d-none d-lg-block">
            <h4 class="" style="font-size: 20px; text-align: left; color: azure;">Aspect <span style="color: rgb(255,165,0);">Phone</span></h4>
          </h2>
        </div>
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
            </li>
            <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda' %}">Tienda</a>
            </li>
            <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}">Servicios</a>
            </li>
            <li class="nav-item {% if request.path|slice:':6' == '/blog/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
            </li>
            <!--  <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
          </li>  -->
          </ul>
        </div>
      </div> {% if user.is_authenticated %} <a style="color: rgb(161, 161, 161);"> Hola,</a> &nbsp;<a
        style="color: azure;"> {{ user.username }}</a> </a>&nbsp;&nbsp;<a href="{% url 'cerrar_sesion' %}"
        style="color: rgb(161, 161, 161); text-decoration: none;">Cerrar sesión</a> {% else %} <a
        href="{% url 'logear'%}" style="color: azure;">Login</a> &nbsp; &nbsp; <a href="{% url 'Autenticacion'%}"
        style="color: azure;">Regístrate</a> {% endif %}
    </nav>
    {% block content %} 
    {% endblock %} 

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-top">
          <div>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#" class="footer-list-link">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <ul class="footer-list">
            <li class="footer-list-item" style="margin: 0 auto;">
              <span class="copyright" style="margin: 0 auto;color: aliceblue;"> <span style="color:#6d6a6f ;">&copy;Ecommerce</span>  Aspect <span style="color: rgb(255,165,0);">Phone</span> <span style="color:#6d6a6f ;">2023</span></span> &nbsp; &nbsp;
              <a href="/privacidad " class="footer-list-link"> Política de privacidad </a> &nbsp &nbsp <a href="/aviso"
                class="footer-list-link">Aviso legal</a>
              <!-- <a href="#" class="footer-list-link">Cookies</a>               -->
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.tagcanvas.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <a class="ir-arriba  fa fa-chevron-circle-up"
      style="font-size:36px; margin-bottom: 3%; color:rgb(105, 4, 4); margin-right: 1%;"></a>
  </body>

</html>