{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %} <div class="col-md-7"
    style="margin: 0 auto; padding-top: 5%;">
    <h2>Política de privacidad</h2>
    <p style="color: rgb(35, 39, 39); margin-bottom: 6%;"> En Aspect Phone, nos tomamos muy en serio la
        privacidad de nuestros clientes y usuarios. Esta política de privacidad describe cómo recopilamos, utilizamos,
        compartimos y protegemos la información personal que recopilamos a través de nuestro sitio web. Recopilación de información Podemos recopilar información personal identificable de diferentes formas,
        incluyendo, entre otras, cuando los usuarios visitan nuestro sitio web, realizan una compra, se registran en
        nuestro sitio web, se suscriben a nuestro boletín informativo, llenan un formulario o interactúan con nuestros
        servicios de alguna otra manera. La información que recopilamos puede incluir su nombre, dirección de correo
        electrónico, dirección postal, número de teléfono, información de pago y otra información que nos brinde. Uso de
        la información Podemos utilizar la información personal que recopilamos para los siguientes fines: Procesar y
        completar pedidos Enviar información importante sobre su pedido, como confirmaciones y actualizaciones Enviar
        boletines informativos, promociones u otra información sobre nuestros productos y servicios Personalizar su
        experiencia de usuario y mejorar nuestros servicios Atender y responder a consultas y comentarios Cumplir con
        requisitos legales y regulatorios Protección de la información Tomamos medidas razonables para proteger la
        información personal de nuestros clientes y usuarios. Utilizamos medidas técnicas y organizativas apropiadas
        para proteger la información personal de pérdidas, uso indebido, acceso no autorizado, divulgación, alteración o
        destrucción. Compartir información No compartimos información personal identificable de nuestros clientes y
        usuarios con terceros, excepto en los siguientes casos: Para cumplir con la ley, regulaciones o requisitos
        legales Con empresas que brindan servicios en nuestro nombre, como empresas de envío o procesamiento de pagos
        Con empresas de publicidad y marketing para enviarle información relevante sobre nuestros productos y servicios.
        Enlaces a sitios de terceros Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos
        responsables por las políticas de privacidad, prácticas o contenido de estos sitios web. Cambios a nuestra
        política de privacidad Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento y
        sin previo aviso. Le recomendamos que revise esta política de privacidad periódicamente para mantenerse
        informado de cualquier cambio. Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no
        dude en contactarnos. <br>© Aspect Phone  </p>
</div> {% endblock %}